/* 
    Document   : base
    Created on : May 11, 2011, 11:27:34 PM
    Author     : SeylomA
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/


*
{
    margin:0;padding: 0;
}
root { 
    display: block;
}

body
{
    /*font-size:100%;*/
    font-size:12px;
    font-family:arial,sans-serif;
    color:#444444;
}
#logo
{
    font-size:140%;
    font-weight: bold;
    text-shadow: 0 1px 0 #FFFFFF;
    color: #4d2a17;
}
#lg_catch
{
    font-size: 12px;
    font-weight: bold;
    color:#4d2a17;
    text-shadow: 0 1px 0 #FFFFFF;
}
.center
{
    width:860px;
    margin-left: auto;
    margin-right: auto;
}
#searchbx
{
   float:right; width:250px;
}
a.headlnk
{
    color:#fff;
    text-decoration:none;
    font-size: 12px;
    padding:3px 4px;
    display: block;
    background:#bababa;
    
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    
}
a.headlnk:hover
{
    /*text-decoration:underline;*/
     background:green;
}
#dash
{
   overflow:hidden; margin-top:5px;
   border-bottom:1px solid #bababa;
   padding:10px;
}
#headerbar
{
    /*background:#bababa url("/gre/assets/img/skin.gif") repeat-x;*/
}
a.act-item
{
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    text-decoration: none;
    background:#bababa;
    color:#fefefe;
    font-size:12px;
    margin:10px 5px;
    padding:10px;
    display: block;
}
a.act-item:hover
{
    background:#608f9b;
    color:#fff;
    text-decoration: none;
}
ul#task-av{
    list-style:none;
    
}
#specbx
{
    right:0;
    bottom:0;
    position: absolute;
    margin-left:200px;
    height:280px;
    background:#fff;
    width:600px;
}
#menulst
{
    list-style-type:none;
}
#menulst a.mnu
{
   display: block;
   padding:5px;
   margin:5px;
   color:green;
   width:100px;
   background:#dddddd;
   font-size: 12px;
   text-decoration: none;
   position:relative;
}

#menulst a.mnu:hover, #menulst a.mnu.current
{
    background:green;
    color:#fff;
}
#ctning
{
    font-weight: bold;
    color:#4a341b;
    float:right;width:100px;height:80px;
    text-shadow: 0 1px 0 #fafafa;
}
.iptxt{padding:3px;border:1px solid #bababa; width:200px;}

.iplgtxt{
    padding:6px;border:1px solid #bababa; width:300px;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
     
    vertical-align: middle;
}

.btn
{
    border:medium none;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    background:green;
    color:#fff;
    padding:3px;
    cursor:pointer;
    
}
.btnlg
{
    border:medium none;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    background:green;
    color:#fff;
    padding:6px;
    cursor:pointer;
    font-size:20px;
    vertical-align: middle;
}

.btn:hover,.btnlg:hover
{
    background-color: #708c40;
}
.btn:active,.btnlg:active
{
     background-color:green;
}
.blr
{
    color:#bababa;
}
#fedlog
{
    background-color: #f1f1f1;
    font-size:12px;
    color:darkblue;
    display:block;border:2px solid green;padding:10px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    text-decoration: none;
    
}
ul#dash_mnu
{
    list-style-type: none;
}

#dash_mn_bx
{
    padding:5px;
}
#dash_bd
{
    border-left:1px solid #eaeaea;padding:10px;height:600px;
}

ul#dash_mnu a
{
    display: block;
    padding:5px 6px;
    -moz-border-radius: 2px;
    -webkit-border-radius:2px;
    border-radius:2px 2px 2px 2px;
    font-size:12px;
    text-decoration: none;
    color:#579db0;
    margin:2px;
    outline:none;
    position:relative;
}

ul#dash_mnu a:hover
{
    background-color:#d2e5f9;
    text-decoration: none;
    color:#276086;
}

ul#dash_mnu a.curr
{
   background-color:#95bde7; 
   color:#fff;
}

#db_header
{
    background:#eaeaea; overflow: hidden;
    border-bottom:3px solid #bababa;
}

.btndf
{
    border:medium none;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    background-color:#bababa;
    color:#fff;
    padding:4px;
    cursor:pointer;
    font-size:16px;
    vertical-align: middle;
}

.btndf:hover,.btndf:hover
{
    background-color: #666666;
}
.btndf:active,.btndf:active
{
     background-color:#bababa;
}

#dashlist{
    list-style-type: none;
    overflow:hidden;
}

#dashlist li.ctg
{
    float:left;
    margin-left:20px;
}
.dsh_cat
{
    padding:5px 0;
    /*background:#eaeaea;*/
    border-bottom:3px solid #bababa;
    font-size: 12px;
}

.wdlist
{
    list-style-type: none;
}


a.wrd
{
   padding:2px 6px;
   display: block;
   width:100px;
   margin:5px 0;
   font-size:12px;
   text-decoration: none;
   color:#07869d;
   -moz-border-radius:2px;
   -webkit-border-radius:2px;
   text-align: right;
}

a.wrd:hover
{
    background-color:#e2f2f5;
    text-decoration: none;
    color:#04444f;
}

#grid_ct
{
    border-top:4px solid #bfebf3;
    margin-top: 20px;padding:10px;
    background-color: #fafafa;
}
.tbl
{
    width:100%;
    border-collapse: collapse;
}

.tbl th
{
    background:#f1f1f1 url(../img/thead.png) repeat-x;
    color:#333300;
    padding:4px;
    border: 1px solid #bebebe;
}
    
.tbl td
{
    font-size: 12px;
    color:#393737;
    padding:4px;
    border-right:1px solid #dddddd;
}

.tbl td a.mrd
{
    color:#005c9c;
    text-decoration: none;
}

.tbl tr.even
{
    background-color: #fff;
}

.tbl tr.odd
{
    background-color: #f1f5fa;
}

.pretty-btn
{
    border:medium none;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    background-color:#d2e5f9;
    color:#000000;
    padding:3px;
    cursor:pointer;
    font-size:10px;
    vertical-align: middle;
}

.pretty-btn:hover
{
    color:#fff;
    background-color: #4d96e6;
}
#dash_ico
{
    background: url(../img/dashboard.png) no-repeat;
}

#add_ico
{
    background: url(../img/addword.png) no-repeat;
    display:block;
    width:16px;
    height:16px;
}

#test_ico
{
    background: url(../img/tests.png) no-repeat;
    display:block;
    width:16px;
    height:16px;
}
.icon
{
   display:block;
    width:16px;
    height:16px; 
    position:absolute;
    top:4px;
    left: 4px;
}
#words_ico
{
    background: url(../img/words_list.png) no-repeat;
}

#yourword_ico
{
    background: url(../img/stats.png) no-repeat;
}

#stats_ico
{
    background: url(../img/graphs.png) no-repeat;
}

.hilight
{
   background-color: #dbdefa !important;
}
.prj
{
    float:left; width:180px;height:180px;background-color: #f1f1f1;margin:10px;
    border:4px solid #eaeaea;
    
}
ul#sofar{
    list-style-type: none;
}
ul#sofar li
{
    padding:2px;
    margin:2px;
    text-align: right;
}

ul#sofar b
{
    font-size: 16px;
    color:#9a1b11;
}
a.pagelink
{
    cursor: pointer;
    background-color: #D2E5F9;
    display:block;
    color: #000000;
    cursor: pointer;
    font-size: 10px;
    padding: 4px 6px;
    vertical-align: middle;
    text-decoration: none;
}
span.unselected {
    color: #FFFFFF;
    display: inline-block;
    font-size: 10px;
    font-weight: bold;
    margin: 0 2px;
    text-align: center;
    text-decoration: none;
}

span.selected {
    background-color: #4d96e6;
    padding: 3px 6px;
    font-size: 11px;
    margin: 0 2px;
}
.pager
{
    overflow:hidden;
    margin-top:10px;
    border-top:1px solid #bababa;
    border-bottom:1px solid #bababa;
    padding:3px 0;
    margin:5px 0 20px 0;
}
a.lnk
{
    color:darkred;
    text-decoration: none;
}

a.lnk:hover
{
    text-decoration: underline;
}
table#stats_graph
{
    width:100%;
    height:100px;
    border-collapse: collapse;
    border:0;
    
}
#stats_graph td.bar
{
    padding:0;
    margin:0px;
    vertical-align: bottom;
}
#stats_graph td.day
{
    text-align: center;
    
}
.baritem
{
     
    border-left: 1px solid #EAEAEA;
    border-right: 1px solid #EAEAEA;
}
